#login form{
    display: inline-block;
    background: powderblue;
    position: absolute;
    top:0;
    left:0;
    right: 0;
    bottom: 0;
    width: 400px;
    height: 200px;
    margin: auto;
}
#login form .login_content{
    padding: 20px;
}